extends layout
block content
	-if(error)
		.alert.alert-error
			| #{error}
	-else
		div.container
			form.form-horizontal(action='/reg',ccept-charset='utf-8', method='post')
				.form-group
					label.control-label.col-xs-2(for='form_account') 账号
					div.col-xs-10
						input#form_account.form-control(type='text', name='account')
				.form-group
					label.control-label.col-xs-2(for='form_nickname') 昵称
					div.col-xs-10
						input#form_nickname.form-control(type='text', name='nickname')
				.form-group
					label.control-label.col-xs-2(for='form_realname') 真实姓名
					div.col-xs-10
						input#form_realname.form-control(type='text', name='realname')
				.form-group
					label.control-label.col-xs-2(for='form_phone') 手机
					div.col-xs-10
						input#form_phone.form-control(type='text', name='phone')
				.form-group
					label.control-label.col-xs-2(for='form_email') 邮箱
					div.col-xs-10
						input#form_email.form-control(type='email', name='email', autocomplete='on')
				.form-group
					label.control-label.col-xs-2(for='form_password') 密码
					div.col-xs-10
						input#form_password.form-control(type='password', name='password')
				.form-group
					label.control-label.col-xs-2(for='form_repassword') 确认密码
					div.col-xs-10
						input#form_repassword.form-control(type='password', name='repassword')
				.form-group
					label.control-label.col-xs-2(for='form_descri') 简要介绍
					div.col-xs-10
						input#form_repassword.form-control(type='text', name='description')
				.form-group
					label.control-label.col-xs-2(for='form_select_schoolyear') 入学年级
					div.col-xs-10
						select#form_select_schoolyear.form-control(name='school_year')
							for item in schoolyears
								option= item
							else
								option 暂无
				.form-group
					label.control-label.col-xs-2(for='form_select_schoolarea') 学校所在地区
					div.col-xs-10
						select#form_select_schoolarea.form-control(onchange='getSchools(this)',name='school_area')
							for item in schoolareas
								option= item
							else
								option 暂无
				.form-group
					label.control-label.col-xs-2(for='form_select_school') 选择学校
					div.col-xs-10
						select#form_select_school.form-control(onchange='getMajors(this)',name='school')
							for item in schools
								option= item
							else
								option 暂无
				.form-group
					label.control-label.col-xs-2(for='form_select_major') 选择学院
					div.col-xs-10
						select#form_select_major.form-control(name='major')
							for item in majors
								option= item
							else
								option 暂无
				.form-group
					button.col-xs-12.btn.btn-primary(type='submit') 注册